<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.pgyer.sdkdemo</key>
		<string>sdk_demo</string>
	</dict>
	<key>signingCertificate</key>
	<string>EA96860754892B8DE5A7E92B805F78C2EF85EDD7</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>DG37YK9PRK</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
